Source: mysql-generic-5.6
Section: database
Priority: extra
Maintainer: Matthew King <mking@dagilev.co.uk>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.mysql.com/

Package: mysql-generic-5.6
Architecture: any
Provides: mysql-generic
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: MySQL 5.6 generic tarball distribution packed into a deb
